// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Colors
$darkgray: #4f4a5f;
//$darkgray: #444444; // no color tint version
$medgray: #615f72;
$lightgray: #888498;




// slightly less colorized
$darkgray: #515058; // no color tint version
$medgray: #515058;
$lightgray: #8a8991;

$darkgray: #515058; // new gray section in photoshop
$medgray: #63636b;
$lightgray: #8b8991;

$xlightgray: #e5e5e5;

$indigo: #2d3584;
$medindigo: #4a4b94;
$lightindigo: #9ea0cd;

$blue: #096ab1;
$medblue: #5081c0;
$lightblue: #87a1d1;

$gold: #eaa02e;
$medgold: #ecb36d;
$lightgold: #ecd2ba;

// fonts
$roboto: 'Roboto Slab', serif;
$oswald: 'Oswald', sans-serif;


// mixins
@mixin inner-page-width() {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
                width: 750px;
        }
        @media (min-width: 992px) {
                width: 970px;
        }
}



body {
        font-family: $roboto;
        color: #444;
}

// headings

h1 {
        font-family: $roboto;
        color: $indigo;
        font-size: 40px;
}
h2 {
        font-family: $oswald;
        color: $darkgray;
        font-weight: 400;
        font-size: 32px;
}
h3 {
        font-family: $roboto;
        font-size: 22px;
        color: $blue;
}

h4 {

}
h5 {
        font-weight: bold;
}


a {
        color: $blue;
}
a:hover, a:active {
        color: $medblue;
}

// classes
.indigo-text {
        color: $indigo;
}
.blue-text {  // blue used for links so careful not to confuse
        color: $blue;
}
.gold-text {
        color: $gold;
}




// header
header {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d3584+0,2d3584+50,ffffff+50,ffffff+100 */
        background: $indigo; /* Old browsers */
        background: -moz-linear-gradient(-45deg, $indigo 0%, $indigo 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, $indigo 0%,$indigo 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, $indigo 0%,$indigo 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#$indigo', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar.container {
        width: 100%!important;
        max-width: 100%!important;
}

.navbar-brand {
        font-family: $oswald;
        text-transform: uppercase;
        color: $darkgray;
        font-weight: bold;
        font-size: 30px;
}

// menu
.nav-container {
        margin-bottom: 30px;
        background: $darkgray;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        @media screen and (max-width: 767px) {
                height: auto;
                border-top: 6px solid $darkgray;
        }
        #navbar-collapse {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
        }
        .main-navigation {

                color: #fff;
                font-family: $oswald;
                text-transform: uppercase;
                font-size: 16px;
                a {
                        color: #fff;
                        padding: 15px 40px 10px;
                        @media screen and (max-width: 767px) {
                                padding: 15px 40px;
                        }
                }
                .nav > li > a:hover, .nav > li > a:focus,
                li.active, li:hover {
                        background: $medgray;
                        //border-bottom: 5px solid $medgray;
                }
                li.active {
                        border-bottom: 5px solid $lightindigo;
                        @media screen and (max-width: 767px) {
                                border-bottom: none;
                                background: $medgray;
                                border-left: 5px solid $lightindigo;
                                padding: 15px 40px 15px 35px;

                        }


                }

        }
}

// mobile menu
button.navbar-toggle {
        border: 2px solid gray;
        border-radius: 8px;
        &:active {
                background: $xlightgray;
        }
}
@media screen and (max-width: 767px) {
        .navbar-toggle .icon-bar {
                background: $darkgray;
        }
}


//skew edge of navbar-header container
#navbar {
        background: #fff;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        @media screen and (max-width: 1024px) {
                width: 93%;
                margin-right: 0px!important;
        }
        @media screen and (max-width: 767px) {
                width: 90%;
                //margin-right: 0px!important;
        }
        & > .container {
                border-left: 7px solid $gold;

        }
}
@media screen and (max-width: 767px) {
        .nav-container #navbar-collapse {
                margin-top: -6px;
        }
}


// skew inside back to normal
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
}

.navbar-collapse.collapse {
        background: $darkgray;
}
.navbar-nav {
        margin: 0px -15px 0px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
        background: $medindigo;
}





// classes

.button, a.button {
        padding: 8px 30px;
        background: $blue;
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        max-width: 200px;
        //a {
        //        color: #fff;
        //        text-decoration: none;
        //}

        margin: 20px 0px 30px;

        &.blue {
                background: $blue;
                &:hover {
                        background: $medblue;
                }
        }
        &.gold {
                background: $gold;
                &:hover {
                        background: $medgold;
                }
        }
        &.wide {
                max-width: 300px;
        }
        &:hover {
                -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.3);
                box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.3);
        }
}
.centered {
        margin-left: auto!important;
        margin-right: auto!important;
}
.center-text {
        text-align: center;
}



// footer
.footer {
        background: $darkgray;
        color: #fff;
        h2, h3, h4 {
                color: #fff;
        }
        .footer-inner {
                @include inner-page-width();
        }
        .region.region-footer {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 768px) {
                        flex-wrap: wrap;
                        padding: 0px 10px;
                }
        }
}


// pages

// home page front

.front {

        .main-container.container {
                width: 100%;
                padding: 0px;
        }
        .inner-page-width {
                @include inner-page-width() ;
        }
}
.not-front {
        .main-container.container {
                @media screen and (max-width: 768px) {
                        padding-left: 20px;
                        padding-right: 20px;
                }
        }
}


.color-section {
        width: 100%;
        h2 {
                text-align: center;
                margin-bottom: 20px;
        }

        &.bigger-right {
        //        clip-path: polygon(
        //                        0 0,
        //                        100% 0,
        //                        100% 100%,
        //                        0 calc(100% - 3vw)
        //        );
        //        clip-path: polygon(
        //                        0 calc(100% - 16vw),
        //                        100% 0,
        //                        100% 100%,
        //                        0 calc(100% - 3vw)
        //        );
                -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
                @media screen and (max-width: 768px) {
                        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
                        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
                }
                //clip-path: polygon(
                //                0 10%,
                //                100% 0,
                //                100% 100%,
                //                0 90%
                //);
                &.top-section {
                        //clip-path: polygon(
                        //                0 0,
                        //                100% 0,
                        //                100% 100%,
                        //                0 90%
                        //);
                        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
                        @media screen and (max-width: 768px) {
                                -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
                                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
                        }

                }
        }
        &.bigger-left {
                //clip-path: polygon(
                //                0 0,
                //                100% 0,
                //                100% 100%,
                //                0 calc(100% - 3vw)
                //);
                //clip-path: polygon(
                //                0 10%,
                //                100% 0,
                //                100% 100%,
                //                0 90%
                //);
                -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
                clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
                @media screen and (max-width: 768px) {
                        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
                        clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
                }
                padding: 20px 0px 30px;
        }

        &:not(.white) {
                color: #fff;
                h2, h3, h4 {
                        color: #fff;
                }
        }

        &.indigo {
                background: $indigo;
        }
        &.blue {
                background: $blue;
        }
        .inner-section {
                //max-width: 1200px;
                //margin-left: auto;
                //margin-right: auto;
                @include inner-page-width();
                padding: 30px;
                @media screen and (max-width: 768px) {
                        padding: 40px 30px;

                }
        }
}



// about page
.view-about-us {
        .views-field.views-field-field-profile {
                float: left;
                margin: 20px 20px 50px 0px;
                height: 100%;
                @media screen and (max-width: 768px) {
                        margin-bottom: 30px;
                        margin-left: auto;
                        margin-right: auto;
                }
        }
        .views-row {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 768px) {
                        flex-wrap: wrap;
                }
        }
        .profile-right-section.views-fieldset {
                width: auto;
                width: 70%;
                @media screen and (max-width: 768px) {
                        width: 100%;
                }
        }
}


// testimonials page
.view-testimonialview {
        .views-column {
                border-bottom: 1px solid #eaa02e;
                padding-bottom: 35px;
                margin-bottom: 25px;
        }
        .views-field.views-field-field-person-title {
                display: inline-block;
                float: left;
                margin-bottom: 10px;
                h2 {
                        margin-bottom: 5px;
                }
        }
        .views-field.views-field-field-person-title:after {
                content: "|";
                padding: 0px 12px 0px 8px;
        }

        .views-field.views-field-field-date {
                margin-top: 10px;
                display: block;
        }
}
