// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Colors
$darkgray: #4f4a5f;
$darkgray: #444444; // no color tint version
$medgray: #615f72;
$lightgray: #888498;

$indigo: #2d3584;
$medindigo: #4a4b94;
$lightindigo: #9ea0cd;

$blue: #096ab1;
$medblue: #5081c0;
$lightblue: #87a1d1;

$gold: #eaa02e;
$medgold: #ecb36d;
$lightgold: #ecd2ba;

// fonts
$roboto: 'Roboto Slab', serif;
$oswald: 'Oswald', sans-serif;


// mixins
@mixin inner-page-width() {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
                width: 750px;
        }
        @media (min-width: 992px) {
                width: 970px;
        }
}



body {
        font-family: $roboto;
        color: #444;
}

// headings

h1 {
        font-family: $roboto;
        color: $indigo;
        font-size: 40px;
}
h2 {
        font-family: $oswald;
        color: $darkgray;
        font-weight: 400;
        font-size: 32px;
}
h3 {
        font-family: $roboto;
        font-size: 22px;
        color: $blue;
}

// header
header {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d3584+0,2d3584+50,ffffff+50,ffffff+100 */
        background: $indigo; /* Old browsers */
        background: -moz-linear-gradient(-45deg, $indigo 0%, $indigo 50%, #ffffff 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, $indigo 0%,$indigo 50%,#ffffff 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, $indigo 0%,$indigo 50%,#ffffff 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#$indigo', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar.container {
        width: 100%!important;
        max-width: 100%!important;
}

.navbar-brand {
        font-family: $oswald;
        text-transform: uppercase;
        color: $darkgray;
        font-weight: bold;
        font-size: 30px;
}

// menu
.nav-container {
        margin-bottom: 30px;
        background: $darkgray;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        #navbar-collapse {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
        }
        .main-navigation {

                color: #fff;
                font-family: $oswald;
                text-transform: uppercase;
                font-size: 16px;
                a {
                        color: #fff;
                        padding: 15px 40px 10px;
                }
                .nav > li > a:hover, .nav > li > a:focus,
                li.active-trail, li:hover {
                        background: $medgray;
                        //border-bottom: 5px solid $medgray;
                }
                li.active-trail {
                        border-bottom: 5px solid $lightindigo;
                }

        }
}

//skew edge of navbar-header container
#navbar {
        background: #fff;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        & > .container {
                border-left: 7px solid $gold;

        }
}


// skew inside back to normal
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
}

.navbar-collapse.collapse {
        background: $darkgray;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
        background: $medindigo;
}





// classes

.button, a.button {
        padding: 8px 30px;
        background: $blue;
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        max-width: 200px;
        //a {
        //        color: #fff;
        //        text-decoration: none;
        //}

        margin: 20px 0px 30px;

        &.blue {
                background: $blue;
                &:hover {
                        background: $medblue;
                }
        }
        &.gold {
                background: $gold;
                &:hover {
                        background: $medgold;
                }
        }
        &.wide {
                max-width: 300px;
        }
}
.centered {
        margin-left: auto!important;
        margin-right: auto!important;
}
.center-text {
        text-align: center;
}



// footer
.footer {
        background: $darkgray;
        color: #fff;
        h2, h3, h4 {
                color: #fff;
        }
        .footer-inner {
                @include inner-page-width();
        }
}


// pages

// home page front

.front {

        .main-container.container {
                width: 100%;
                padding: 0px;
        }
        .inner-page-width {
                @include inner-page-width() ;
        }
}


.color-section {
        width: 100%;
        h2 {
                text-align: center;
                margin-bottom: 20px;
        }

        &.bigger-right {
        //        clip-path: polygon(
        //                        0 0,
        //                        100% 0,
        //                        100% 100%,
        //                        0 calc(100% - 3vw)
        //        );
        //        clip-path: polygon(
        //                        0 calc(100% - 16vw),
        //                        100% 0,
        //                        100% 100%,
        //                        0 calc(100% - 3vw)
        //        );
                -webkit-clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 86%);
                clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 86%);
                //clip-path: polygon(
                //                0 10%,
                //                100% 0,
                //                100% 100%,
                //                0 90%
                //);
                &.top-section {
                        clip-path: polygon(
                                        0 0,
                                        100% 0,
                                        100% 100%,
                                        0 calc(100% - 3vw)
                        );
                }
        }
        &.bigger-left {
                //clip-path: polygon(
                //                0 0,
                //                100% 0,
                //                100% 100%,
                //                0 calc(100% - 3vw)
                //);
                //clip-path: polygon(
                //                0 10%,
                //                100% 0,
                //                100% 100%,
                //                0 90%
                //);
                -webkit-clip-path: polygon(0 0, 100% 13%, 100% 85%, 0 100%);
                clip-path: polygon(0 0, 100% 14%, 100% 86%, 0 100%);
                padding: 20px 0px 30px;
        }

        &:not(.white) {
                color: #fff;
                h2, h3, h4 {
                        color: #fff;
                }
        }

        &.indigo {
                background: $indigo;
        }
        &.blue {
                background: $blue;
        }
        .inner-section {
                //max-width: 1200px;
                //margin-left: auto;
                //margin-right: auto;
                @include inner-page-width();
                padding: 30px;
        }
}



// about page
.view-about-us {
        .views-field.views-field-field-profile {
                float: left;
                margin: 20px 20px 50px 0px;
                height: 100%;
        }
        .views-row {
                display: flex;
                justify-content: space-between;
        }
        .profile-right-section.views-fieldset {
                width: auto;
                width: 70%;
        }
}
